// 字体大小
// 标签文字，辅助文字，次要信息
$rty-font-ms:12px;
// 主要文字，常用文字，文章副文
$rty-font-xs:14px;
// 中小文字，标题文字，主要文字
$rty-font-sm:16px;
// 中等文字，标题文字
$rty-font-md:18px;
// 大文字，文章标题
$rty-font-lg:20px;
// 最大文字
$rty-font-eg:22px;
